---
---

@import "jekyll-theme-minimal";

/* Os teus overrides aqui */
body { background:#f8f8f6; color:#1c1c1c; }
a { color:#4f5d2f; }
a:hover { color:#6b7d3a; text-decoration: underline; }
h1,h2,h3 { color:#4f5d2f; }
.site-header,.site-footer { background:#fff; border-color:#e6e6e3; }
