---
---

@import "{{ site.theme }}";

/* Os teus ajustes aqui */
/*body { background: #f8f8f6; color: #1c1c1c; }*/
body { background: hotpink !important; }
a { color: #4f5d2f; }
a:hover { color: #6b7d3a; text-decoration: underline; }

